<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spiritgarage.www.admin.mapper.AdminMapper">
	
	<select id="selectMngrInfo" parameterType="com.spiritgarage.www.admin.vo.MngrVO" resultType="com.spiritgarage.www.admin.vo.MngrVO">
		SELECT
			*
		FROM
			TB_MNGR
		WHERE
			ID = #{id}
			AND
			USE_YN = 'Y'
	</select>
	
	<select id="selectMngrManagementCnt" parameterType="com.spiritgarage.www.admin.vo.MngrVO" resultType="int">
		SELECT COUNT(*) FROM TB_MNGR
	</select>
	
	<select id="selectMngrManagementList" parameterType="com.spiritgarage.www.admin.vo.MngrVO" resultType="com.spiritgarage.www.admin.vo.MngrVO">
		SELECT
			T.RNUM,
			T.MNGR_SEQ,
			T.ID,
			T.PASSWORD,
			T.PASSWORD_KEY,
			T.NAME,
			T.USE_YN,
			T.REG_DATE,
			T.UPT_DATE
		FROM
			(SELECT
				@rownum:=@rownum+1 RNUM,
				M.MNGR_SEQ,
				M.ID,
				M.PASSWORD,
				M.PASSWORD_KEY,
				M.NAME,
				M.USE_YN,
				DATE_FORMAT(M.REG_DATE,'%Y-%m-%d %H:%i') REG_DATE,
				DATE_FORMAT(M.UPT_DATE,'%Y-%m-%d %H:%i') UPT_DATE
			FROM
				TB_MNGR M INNER JOIN (SELECT @ROWNUM := 0) R) T
		LIMIT #{startPostNumber} , #{blockPostCnt}
	</select>
	
	<select id="selectMngrIdCount" parameterType="com.spiritgarage.www.admin.vo.MngrVO" resultType="int">
		SELECT COUNT(*) FROM TB_MNGR WHERE ID = #{id}
	</select>
	
	<select id="selectMngrNameCount" parameterType="com.spiritgarage.www.admin.vo.MngrVO" resultType="int">
		SELECT COUNT(*) FROM TB_MNGR WHERE NAME = #{name}
	</select>
	
	<insert id="insertMngr" parameterType="com.spiritgarage.www.admin.vo.MngrVO">
		INSERT INTO TB_MNGR
		(
			MNGR_SEQ,
			ID,
			PASSWORD,
			PASSWORD_KEY,
			NAME,
			USE_YN,
			REG_DATE
		)VALUES(
			#{mngrSeq},
			#{id},
			#{password},
			#{passwordKey},
			#{name},
			#{useYn},
			NOW()
		)
	</insert>
	
	<select id="selectMngrInfoByMngrSeq" parameterType="com.spiritgarage.www.admin.vo.MngrVO" resultType="com.spiritgarage.www.admin.vo.MngrVO">
		SELECT
			*
		FROM
			TB_MNGR
		WHERE
			MNGR_SEQ = #{mngrSeq}
	</select>
	
	<update id="updateMngr" parameterType="com.spiritgarage.www.admin.vo.MngrVO">
		UPDATE TB_MNGR SET 
			ID = #{id},
			NAME = #{name},
			<if test="password != null and password != ''">
				PASSWORD = #{password},
				PASSWORD_KEY = #{passwordKey},
			</if>
			UPT_DATE = NOW()
		WHERE
			MNGR_SEQ = #{mngrSeq}
	</update>
	
	<update id="updateMngrUseYn" parameterType="com.spiritgarage.www.admin.vo.MngrVO">
		UPDATE TB_MNGR SET
			USE_YN = #{useYn},
			UPT_DATE = NOW()
		WHERE
			MNGR_SEQ = #{mngrSeq}
	</update>
	
	<select id="selectMaintenanceAreaCnt" resultType="int">
		SELECT COUNT(*) FROM TB_MAINTENANCE_AREA
	</select>
	
	<select id="selectMaintenanceAreaList" parameterType="com.spiritgarage.www.reservation.vo.MaintenanceAreaVO" resultType="com.spiritgarage.www.reservation.vo.MaintenanceAreaVO">
		SELECT
			T.RNUM,
			T.MAINTENANCE_AREA_SEQ,
			T.MAINTENANCE_NAME,
			T.REG_DATE
		FROM
			(SELECT
				@rownum:=@rownum+1 RNUM,
				R.MAINTENANCE_AREA_SEQ,
				R.MAINTENANCE_NAME,
				DATE_FORMAT(R.REG_DATE,'%Y-%m-%d %H:%i') REG_DATE
			FROM
				TB_MAINTENANCE_AREA R INNER JOIN (SELECT @ROWNUM := 0) C
			ORDER BY R.REG_DATE DESC) T
		LIMIT #{startPostNumber} , #{blockPostCnt}
	</select>
	
	<select id="selectMaintenanceAreaByName" parameterType="com.spiritgarage.www.reservation.vo.MaintenanceAreaVO" resultType="com.spiritgarage.www.reservation.vo.MaintenanceAreaVO">
		SELECT
			MAINTENANCE_AREA_SEQ,
			MAINTENANCE_NAME,
			DATE_FORMAT(REG_DATE,'%Y-%m-%d %H:%i') REG_DATE
		FROM
			TB_MAINTENANCE_AREA
		WHERE
			MAINTENANCE_NAME = #{maintenanceName}
	</select>
	
	<insert id="insertMaintenanceArea" parameterType="com.spiritgarage.www.reservation.vo.MaintenanceAreaVO">
		INSERT INTO TB_MAINTENANCE_AREA
		(
			MAINTENANCE_AREA_SEQ,
			MAINTENANCE_NAME,
			REG_DATE
		)VALUES(
			#{maintenanceAreaSeq},
			#{maintenanceName},
			NOW()
		)
	</insert>
	
	<delete id="deleteMaintenanceArea" parameterType="com.spiritgarage.www.reservation.vo.MaintenanceAreaVO">
		DELETE FROM TB_MAINTENANCE_AREA WHERE MAINTENANCE_AREA_SEQ = #{maintenanceAreaSeq}
	</delete>
	
	<select id="selectReservationCnt" parameterType="com.spiritgarage.www.reservation.vo.ReservationVO" resultType="int">
		SELECT COUNT(*) FROM TB_RESERVATION
	</select>
	
	<select id="selectReservationList" parameterType="com.spiritgarage.www.reservation.vo.ReservationVO" resultType="com.spiritgarage.www.reservation.vo.ReservationVO">
		SELECT
			T.RNUM,
			T.RESERVATION_SEQ,
			T.RESERVATION_DATE,
			T.RESERVATION_NAME,
			T.PHONE,
			T.CHOOSE_AREA,
			T.RESERVATION_CONTENT,
			T.USE_YN,
			T.REG_DATE,
			T.UPT_DATE
		FROM
			(SELECT
				@rownum:=@rownum+1 RNUM,
				R.RESERVATION_SEQ,
				DATE_FORMAT(R.RESERVATION_DATE,'%Y-%m-%d %H:%i') RESERVATION_DATE,
				R.RESERVATION_NAME,
				R.PHONE,
				R.CHOOSE_AREA,
				R.RESERVATION_CONTENT,
				R.USE_YN,
				DATE_FORMAT(R.REG_DATE,'%Y-%m-%d %H:%i') REG_DATE,
				DATE_FORMAT(R.UPT_DATE,'%Y-%m-%d %H:%i') UPT_DATE
			FROM
				TB_RESERVATION R INNER JOIN (SELECT @ROWNUM := 0) C
			<where>
				R.PHONE LIKE CONCAT('%',#{searchWord},'%') OR R.RESERVATION_NAME LIKE CONCAT('%',#{searchWord},'%')
			</where>
			ORDER BY R.RESERVATION_DATE DESC) T
		LIMIT #{startPostNumber} , #{blockPostCnt}
	</select>
	
	<select id="selectCalendarReservationList" parameterType="com.spiritgarage.www.reservation.vo.ReservationVO" resultType="hashmap">
		SELECT
			RESERVATION_SEQ id,
			DATE_FORMAT(RESERVATION_DATE,'%Y-%m-%d') start,
			CONCAT('[', RESERVATION_NAME,'] ',PHONE) title,
			'black' color,
			'white' textColor
		FROM
			TB_RESERVATION
		WHERE
			USE_YN = 'Y'
			AND
			(PHONE LIKE CONCAT('%',#{searchWord},'%') OR RESERVATION_NAME LIKE CONCAT('%',#{searchWord},'%'))
	</select>
	
	<select id="selectReservationInfo" parameterType="com.spiritgarage.www.reservation.vo.ReservationVO" resultType="com.spiritgarage.www.reservation.vo.ReservationVO">
		SELECT
			R.RESERVATION_SEQ,
			DATE_FORMAT(R.RESERVATION_DATE,'%Y-%m-%d %H:%i') RESERVATION_DATE,
			R.RESERVATION_NAME,
			R.PHONE,
			R.CHOOSE_AREA,
			R.RESERVATION_CONTENT,
			R.USE_YN,
			DATE_FORMAT(R.REG_DATE,'%Y-%m-%d %H:%i') REG_DATE,
			DATE_FORMAT(R.UPT_DATE,'%Y-%m-%d %H:%i') UPT_DATE
		FROM
			TB_RESERVATION R
		WHERE
			R.RESERVATION_SEQ = #{reservationSeq}
	</select>
	
	<update id="updateReservationCancel" parameterType="com.spiritgarage.www.reservation.vo.ReservationVO">
		UPDATE TB_RESERVATION SET USE_YN = 'N' WHERE RESERVATION_SEQ = #{reservationSeq}
	</update>
	
	<update id="updateReservationRep" parameterType="com.spiritgarage.www.reservation.vo.ReservationVO">
		UPDATE TB_RESERVATION SET USE_YN = 'Y' WHERE RESERVATION_SEQ = #{reservationSeq}
	</update>
	
	<select id="selectNoticeManagementCnt" parameterType="com.spiritgarage.www.admin.vo.NoticeVO" resultType="int">
		SELECT COUNT(*) FROM TB_NOTICE
	</select>
	
	<select id="selectNoticeManagementList" parameterType="com.spiritgarage.www.admin.vo.NoticeVO" resultType="com.spiritgarage.www.admin.vo.NoticeVO">
		SELECT
			T.RNUM,
			T.NOTICE_SEQ,
			T.THUMBNAIL_URL,
			T.TITLE,
			T.CONTENT,
			T.MAIN_VIEW_YN,
			T.REG_MNGR_ID,
			T.REG_MNGR_NAME,
			T.REG_DATE,
			T.UPT_MNGR_ID,
			T.UPT_MNGR_NAME,
			T.UPT_DATE
		FROM
			(SELECT
				@rownum:=@rownum+1 RNUM,
				R.NOTICE_SEQ,
				(SELECT FILE_URL FROM TB_FILE WHERE POST_SEQ = R.NOTICE_SEQ AND FILE_KIND = 'thumbnail') THUMBNAIL_URL,
				R.TITLE,
				R.CONTENT,
				R.MAIN_VIEW_YN,
				R.REG_MNGR_ID,
				(SELECT NAME FROM TB_MNGR WHERE ID = R.REG_MNGR_ID) REG_MNGR_NAME,
				DATE_FORMAT(R.REG_DATE,'%Y-%m-%d %H:%i') REG_DATE,
				R.UPT_MNGR_ID,
				(SELECT NAME FROM TB_MNGR WHERE ID = R.UPT_MNGR_ID) UPT_MNGR_NAME,
				DATE_FORMAT(R.UPT_DATE,'%Y-%m-%d %H:%i') UPT_DATE
			FROM
				TB_NOTICE R INNER JOIN (SELECT @ROWNUM := 0) C
			ORDER BY R.REG_DATE DESC) T
		LIMIT #{startPostNumber} , #{blockPostCnt}
	</select>
	
	<insert id="insertNotice" parameterType="com.spiritgarage.www.admin.vo.NoticeVO">
		INSERT INTO TB_NOTICE
		(
			NOTICE_SEQ,
			TITLE,
			CONTENT,
			MAIN_VIEW_YN,
			REG_MNGR_ID,
			REG_DATE,
			UPT_MNGR_ID,
			UPT_DATE
		)VALUES(
			#{noticeSeq},
			#{title},
			#{content},
			'N',
			#{regMngrId},
			NOW(),
			#{regMngrId},
			NOW()
		)
	</insert>
	
	<insert id="insertThumbnailFile" parameterType="com.spiritgarage.www.admin.vo.FileVO">
		INSERT INTO TB_FILE
		(
			FILE_SEQ,
			POST_SEQ,
			ORIGIN_FILE_NAME,
			EXTENSION_NAME,
			FILE_SIZE,
			SAVE_FILE_NAME,
			SAVE_FILE_PATH,
			FILE_URL,
			FILE_KIND,
			REG_ID,
			REG_DATE
		)VALUES(
			#{fileSeq},
			#{postSeq},
			#{originFileName},
			#{extensionName},
			#{fileSize},
			#{saveFileName},
			#{saveFilePath},
			#{fileUrl},
			#{fileKind},
			#{regId},
			NOW()
		)
	</insert>
	
	<select id="selectNoticeInfo" parameterType="com.spiritgarage.www.admin.vo.NoticeVO" resultType="com.spiritgarage.www.admin.vo.NoticeVO">
		SELECT
			NOTICE_SEQ,
			TITLE,
			CONTENT,
			MAIN_VIEW_YN,
			REG_MNGR_ID,
			REG_DATE,
			UPT_MNGR_ID,
			UPT_DATE
		FROM
			TB_NOTICE
		WHERE
			NOTICE_SEQ = #{noticeSeq}
	</select>
	
	<select id="selectFileInfoByNoticeSeq" parameterType="com.spiritgarage.www.admin.vo.NoticeVO" resultType="com.spiritgarage.www.admin.vo.FileVO">
		SELECT
			FILE_SEQ,
			POST_SEQ,
			ORIGIN_FILE_NAME,
			EXTENSION_NAME,
			FILE_SIZE,
			SAVE_FILE_NAME,
			SAVE_FILE_PATH,
			FILE_URL,
			FILE_KIND,
			REG_ID,
			REG_DATE
		FROM
			TB_FILE
		WHERE
			POST_SEQ = #{noticeSeq}
			AND
			FILE_KIND = 'thumbnail'
	</select>
	
	<update id="updateNotice" parameterType="com.spiritgarage.www.admin.vo.NoticeVO">
		UPDATE TB_NOTICE SET
			TITLE = #{title},
			CONTENT = #{content},
			UPT_MNGR_ID = #{uptMngrId},
			UPT_DATE = NOW()
		WHERE
			NOTICE_SEQ = #{noticeSeq}
	</update>
	
	<delete id="deleteFileInfoByNoticeSeq" parameterType="com.spiritgarage.www.admin.vo.NoticeVO">
		DELETE FROM TB_FILE WHERE POST_SEQ = #{noticeSeq} AND FILE_KIND = 'thumbnail'
	</delete>
	
	<update id="updateMainViewYn" parameterType="com.spiritgarage.www.admin.vo.NoticeVO">
		UPDATE TB_NOTICE SET
			MAIN_VIEW_YN = #{mainViewYn}
		WHERE
			NOTICE_SEQ = #{noticeSeq}
	</update>
	
	<select id="selectNoticeMainViewYCnt" resultType="int">
		SELECT COUNT(*) FROM TB_NOTICE WHERE MAIN_VIEW_YN = 'Y'
	</select>
	
	<delete id="deleteNotice" parameterType="com.spiritgarage.www.admin.vo.NoticeVO">
		DELETE FROM TB_NOTICE WHERE NOTICE_SEQ = #{noticeSeq}
	</delete>
	
	<select id="selectMainSlideList" resultType="com.spiritgarage.www.admin.vo.MainSlideVO">
		SELECT
			R.MAIN_SLIDE_SEQ,
			R.SLIDE_DV,
			R.TOP_TEXT,
			R.MIDDLE_TEXT,
			R.BOTTOM_TEXT,
			(SELECT ORIGIN_FILE_NAME FROM TB_FILE WHERE POST_SEQ = R.MAIN_SLIDE_SEQ) ORIGIN_FILE_NAME,
			R.RESERVATION_BTN_YN,
			R.MAINTENANCE_HISTORY_BTN_YN,
			R.MAIN_SLIDE_ORDER,
			R.REG_DATE,
			R.UPT_DATE,
			(SELECT MAX(MAIN_SLIDE_ORDER) FROM TB_MAIN_SLIDE) MAIN_SLIDE_MAX_ORDER,
			(SELECT MIN(MAIN_SLIDE_ORDER) FROM TB_MAIN_SLIDE) MAIN_SLIDE_MIN_ORDER
		FROM
			TB_MAIN_SLIDE R
		ORDER BY MAIN_SLIDE_ORDER
	</select>
	
	<insert id="insertMainSlide" parameterType="com.spiritgarage.www.admin.vo.MainSlideVO">
		INSERT INTO TB_MAIN_SLIDE
		(
			MAIN_SLIDE_SEQ,
			SLIDE_DV,
			TOP_TEXT,
			MIDDLE_TEXT,
			BOTTOM_TEXT,
			RESERVATION_BTN_YN,
			MAINTENANCE_HISTORY_BTN_YN,
			MAIN_SLIDE_ORDER,
			REG_DATE,
			UPT_DATE
		)VALUES(
			#{mainSlideSeq},
			#{slideDv},
			#{topText},
			#{middleText},
			#{bottomText},
			#{reservationBtnYn},
			#{maintenanceHistoryBtnYn},
			(SELECT IFNULL(MAX(MAIN_SLIDE_ORDER),0)+1 FROM TB_MAIN_SLIDE A),
			NOW(),
			NOW()
		)
	</insert>
	
	<select id="selectMainSlideInfo" parameterType="com.spiritgarage.www.admin.vo.MainSlideVO" resultType="com.spiritgarage.www.admin.vo.MainSlideVO">
		SELECT
			R.MAIN_SLIDE_SEQ,
			R.SLIDE_DV,
			R.TOP_TEXT,
			R.MIDDLE_TEXT,
			R.BOTTOM_TEXT,
			R.RESERVATION_BTN_YN,
			R.MAINTENANCE_HISTORY_BTN_YN,
			R.MAIN_SLIDE_ORDER,
			R.REG_DATE,
			R.UPT_DATE,
			F.ORIGIN_FILE_NAME
		FROM
			TB_MAIN_SLIDE R LEFT OUTER JOIN TB_FILE F ON R.MAIN_SLIDE_SEQ = F.POST_SEQ
		WHERE
			R.MAIN_SLIDE_SEQ = #{mainSlideSeq}
	</select>
	
	<update id="updateMainSlide" parameterType="com.spiritgarage.www.admin.vo.MainSlideVO">
		UPDATE TB_MAIN_SLIDE SET
			SLIDE_DV = #{slideDv},
			<if test='slideDv == "T"'>
				TOP_TEXT = #{topText},
				MIDDLE_TEXT = #{middleText},
				BOTTOM_TEXT = #{bottomText},
			</if>
			<if test='slideDv == "F"'>
				TOP_TEXT = NULL,
				MIDDLE_TEXT = NULL,
				BOTTOM_TEXT = NULL,
			</if>
			RESERVATION_BTN_YN = #{reservationBtnYn},
			MAINTENANCE_HISTORY_BTN_YN = #{maintenanceHistoryBtnYn},
			UPT_DATE = NOW()
		WHERE
			MAIN_SLIDE_SEQ = #{mainSlideSeq}
	</update>
	
	<select id="selectFileInfoByMainSlideSeq" parameterType="com.spiritgarage.www.admin.vo.MainSlideVO" resultType="com.spiritgarage.www.admin.vo.FileVO">
		SELECT
			FILE_SEQ,
			POST_SEQ,
			ORIGIN_FILE_NAME,
			EXTENSION_NAME,
			FILE_SIZE,
			SAVE_FILE_NAME,
			SAVE_FILE_PATH,
			FILE_URL,
			FILE_KIND,
			REG_ID,
			REG_DATE
		FROM
			TB_FILE
		WHERE
			POST_SEQ = #{mainSlideSeq}
			AND
			FILE_KIND = 'banner'
	</select>
	
	<delete id="deleteFileInfoByMainSlideSeq" parameterType="com.spiritgarage.www.admin.vo.MainSlideVO">
		DELETE FROM TB_FILE WHERE POST_SEQ = #{mainSlideSeq} AND FILE_KIND = 'banner'
	</delete>
	
	<insert id="insertBannerFile" parameterType="com.spiritgarage.www.admin.vo.FileVO">
		INSERT INTO TB_FILE
		(
			FILE_SEQ,
			POST_SEQ,
			ORIGIN_FILE_NAME,
			EXTENSION_NAME,
			FILE_SIZE,
			SAVE_FILE_NAME,
			SAVE_FILE_PATH,
			FILE_URL,
			FILE_KIND,
			REG_ID,
			REG_DATE
		)VALUES(
			#{fileSeq},
			#{postSeq},
			#{originFileName},
			#{extensionName},
			#{fileSize},
			#{saveFileName},
			#{saveFilePath},
			#{fileUrl},
			#{fileKind},
			#{regId},
			NOW()
		)
	</insert>
	
	<delete id="deleteMainSlideByMainSlideSeq" parameterType="com.spiritgarage.www.admin.vo.MainSlideVO">
		DELETE FROM TB_MAIN_SLIDE WHERE MAIN_SLIDE_SEQ = #{mainSlideSeq}
	</delete>
	
	<select id="selectOrderUpMainSlide" parameterType="com.spiritgarage.www.admin.vo.MainSlideVO" resultType="com.spiritgarage.www.admin.vo.MainSlideVO">
		SELECT
			MAIN_SLIDE_SEQ,
			SLIDE_DV,
			TOP_TEXT,
			MIDDLE_TEXT,
			BOTTOM_TEXT,
			RESERVATION_BTN_YN,
			MAINTENANCE_HISTORY_BTN_YN,
			MAIN_SLIDE_ORDER,
			REG_DATE,
			UPT_DATE
		FROM
			TB_MAIN_SLIDE
		WHERE
			MAIN_SLIDE_ORDER = (CAST(#{mainSlideOrder} AS UNSIGNED) - 1)
	</select>
	
	<select id="selectOrderDownMainSlide" parameterType="com.spiritgarage.www.admin.vo.MainSlideVO" resultType="com.spiritgarage.www.admin.vo.MainSlideVO">
		SELECT
			MAIN_SLIDE_SEQ,
			SLIDE_DV,
			TOP_TEXT,
			MIDDLE_TEXT,
			BOTTOM_TEXT,
			RESERVATION_BTN_YN,
			MAINTENANCE_HISTORY_BTN_YN,
			MAIN_SLIDE_ORDER,
			REG_DATE,
			UPT_DATE
		FROM
			TB_MAIN_SLIDE
		WHERE
			MAIN_SLIDE_ORDER = (CAST(#{mainSlideOrder} AS UNSIGNED) + 1)
	</select>
	
	<select id="selectOrderMeMainSlide" parameterType="com.spiritgarage.www.admin.vo.MainSlideVO" resultType="com.spiritgarage.www.admin.vo.MainSlideVO">
		SELECT
			MAIN_SLIDE_SEQ,
			SLIDE_DV,
			TOP_TEXT,
			MIDDLE_TEXT,
			BOTTOM_TEXT,
			RESERVATION_BTN_YN,
			MAINTENANCE_HISTORY_BTN_YN,
			MAIN_SLIDE_ORDER,
			REG_DATE,
			UPT_DATE
		FROM
			TB_MAIN_SLIDE
		WHERE
			MAIN_SLIDE_ORDER = #{mainSlideOrder}
	</select>
	
	<update id="updateOrderDownMainSlide" parameterType="com.spiritgarage.www.admin.vo.MainSlideVO">
		UPDATE TB_MAIN_SLIDE SET
			MAIN_SLIDE_ORDER = CAST(MAIN_SLIDE_ORDER AS UNSIGNED) + 1
		WHERE
			MAIN_SLIDE_SEQ = #{mainSlideSeq}
	</update>
	
	<update id="updateOrderUpMainSlide" parameterType="com.spiritgarage.www.admin.vo.MainSlideVO">
		UPDATE TB_MAIN_SLIDE SET
			MAIN_SLIDE_ORDER = CAST(MAIN_SLIDE_ORDER AS UNSIGNED) - 1
		WHERE
			MAIN_SLIDE_SEQ = #{mainSlideSeq}
	</update>
	
	<select id="selectCategoryList" resultType="com.spiritgarage.www.category.vo.BlogCategoryVO">
		SELECT
			BLOG_CATEGORY_SEQ,
			CATEGORY,
			DISPLAY_YN,
			REG_DATE,
			UPT_DATE
		FROM
			TB_BLOG_CATEGORY
	</select>
	
	<update id="updateCategoryDisplayYn" parameterType="com.spiritgarage.www.category.vo.BlogCategoryVO">
		UPDATE TB_BLOG_CATEGORY SET
			DISPLAY_YN = #{displayYn}
		WHERE
			BLOG_CATEGORY_SEQ = #{blogCategorySeq}
	</update>
	
	<select id="selectMainFooterContactLocation" parameterType="com.spiritgarage.www.main.vo.MainFooterVO" resultType="com.spiritgarage.www.main.vo.MainFooterVO">
		SELECT
			MAIN_FOOTER_SEQ,
			CONTENT,
			CONTENT_DV,
			REG_DATE,
			UPT_DATE
		FROM
			TB_MAIN_FOOTER
		WHERE
			CONTENT_DV = 'location'
	</select>
	
	<select id="selectMainFooterContactMobile" parameterType="com.spiritgarage.www.main.vo.MainFooterVO" resultType="com.spiritgarage.www.main.vo.MainFooterVO">
		SELECT
			MAIN_FOOTER_SEQ,
			CONTENT,
			CONTENT_DV,
			REG_DATE,
			UPT_DATE
		FROM
			TB_MAIN_FOOTER
		WHERE
			CONTENT_DV = 'mobile'
	</select>
	
	<select id="selectMainFooterContactPhone" parameterType="com.spiritgarage.www.main.vo.MainFooterVO" resultType="com.spiritgarage.www.main.vo.MainFooterVO">
		SELECT
			MAIN_FOOTER_SEQ,
			CONTENT,
			CONTENT_DV,
			REG_DATE,
			UPT_DATE
		FROM
			TB_MAIN_FOOTER
		WHERE
			CONTENT_DV = 'phone'
	</select>
	
	<insert id="insertMainFooterContact" parameterType="com.spiritgarage.www.main.vo.MainFooterVO">
		INSERT INTO TB_MAIN_FOOTER
		(
			MAIN_FOOTER_SEQ,
			CONTENT,
			CONTENT_DV,
			REG_DATE,
			UPT_DATE
		)VALUES(
			#{mainFooterSeq},
			#{content},
			#{contentDv},
			NOW(),
			NOW()
		)
	</insert>
	
	<update id="updateMainFooterContact" parameterType="com.spiritgarage.www.main.vo.MainFooterVO">
		UPDATE TB_MAIN_FOOTER SET
			CONTENT = #{content},
			UPT_DATE = NOW()
		WHERE
			CONTENT_DV = #{contentDv}
	</update>
	
	<select id="selectMainFooterContactList" resultType="com.spiritgarage.www.main.vo.MainFooterVO">
		SELECT
			MAIN_FOOTER_SEQ,
			CONTENT,
			CONTENT_DV,
			REG_DATE,
			UPT_DATE
		FROM
			TB_MAIN_FOOTER
		WHERE
			CONTENT_DV IN ('location','mobile','phone')
	</select>
	
</mapper>