<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spiritgarage.www.job.mapper.JobMapper">
	
	<select id="selectRssInfoList" resultType="com.spiritgarage.www.main.vo.BlogRssVO">
		SELECT
			BLOG_RSS_SEQ,
			AUTHOR,
			CATEGORY,
			TITLE,
			LINK,
			DESCRIPTION,
			PUB_DATE,
			USE_YN,
			REG_DATE,
			UPT_DATE
		FROM
			TB_BLOG_RSS
	</select>
	
	<insert id="insertRssInfo" parameterType="com.spiritgarage.www.main.vo.BlogRssVO">
		INSERT INTO TB_BLOG_RSS
		(
			BLOG_RSS_SEQ,
			AUTHOR,
			CATEGORY,
			TITLE,
			LINK,
			DESCRIPTION,
			PUB_DATE,
			USE_YN,
			REG_DATE,
			UPT_DATE
		)VALUES(
			#{blogRssSeq},
			#{author},
			#{category},
			#{title},
			#{link},
			#{description},
			STR_TO_DATE(#{pubDate},'%Y-%m-%d %H:%i:%S'),
			#{useYn},
			NOW(),
			NULL
		)
	</insert>
	
</mapper>