<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spiritgarage.www.main.mapper.MainMapper">
	
	<select id="selectBlogInfoList" resultType="com.spiritgarage.www.main.vo.BlogRssVO">
		SELECT
			BLOG_RSS_SEQ,
			AUTHOR,
			CATEGORY,
			TITLE,
			LINK,
			DESCRIPTION,
			PUB_DATE,
			USE_YN,
			REG_DATE,
			UPT_DATE
		FROM
			TB_BLOG_RSS
		ORDER BY PUB_DATE DESC
	</select>
	
	<select id="selectMainNoticeList" resultType="hashmap">
		SELECT
			N.NOTICE_SEQ noticeSeq,
			N.TITLE title,
			N.CONTENT content,
			N.MAIN_VIEW_YN mainViewYn,
			N.REG_MNGR_ID regMngrId,
			N.REG_DATE regDate,
			N.UPT_MNGR_ID uptMngrId,
			N.UPT_DATE uptDate,
			F.FILE_URL fileUrl
		FROM
			TB_NOTICE N INNER JOIN TB_FILE F ON N.NOTICE_SEQ = F.POST_SEQ AND F.FILE_KIND = 'thumbnail'
		WHERE
			MAIN_VIEW_YN = 'Y'
		ORDER BY UPT_DATE DESC
	</select>
	
	<select id="selectMainSlideList" resultType="com.spiritgarage.www.admin.vo.MainSlideVO">
		SELECT
			R.MAIN_SLIDE_SEQ,
			R.SLIDE_DV,
			R.TOP_TEXT,
			R.MIDDLE_TEXT,
			R.BOTTOM_TEXT,
			R.RESERVATION_BTN_YN,
			R.MAINTENANCE_HISTORY_BTN_YN,
			R.MAIN_SLIDE_ORDER,
			R.REG_DATE,
			R.UPT_DATE,
			F.FILE_URL
		FROM
			TB_MAIN_SLIDE R LEFT OUTER JOIN TB_FILE F ON R.MAIN_SLIDE_SEQ = F.POST_SEQ
		ORDER BY R.MAIN_SLIDE_ORDER
	</select>
	
</mapper>